channels:
  - conda-forge
dependencies:
  - cclib
  - dftd4-python
  - geometric
  - libconeangle
  - matplotlib
  - openbabel
  - pip
  - pymeshfix
  - python>=3.10
  - pyvista
  - pyvistaqt
  - qcengine
  - rdkit
  - spyrmsd
  - vtk
  - xtb>=6.7.1
  - pip:
      - pyberny
