name: Documentation

on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7      
      - name: Build documentation
        run: |
          python -m pip install --upgrade pip
          pip install sphinx
          pip install sphinx-rtd-theme
          pip install sphinxcontrib-bibtex
          pip install .
          sphinx-apidoc --separate --no-toc -o docs/api morfeus
          sphinx-build docs public -b html
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}