name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    name: nox -s lint mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox
      - name: Run `nox -s lint`     
        run: python -m nox -s lint          
      - name: Run `nox -s mypy`                
        run: python -m nox -s mypy     